.animals__swiper-container {
  margin: 0 auto;
  max-width: 790px;
  padding: 0 10px;
}

.animals__swiper-title {
  padding-top: 55px;
  font-size: 48px;
  font-weight: 900;
  color: #fff;
}

.animals__swiper-p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.button-animals-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0 100px 0;
}

.button-animals {
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
  min-width: 237px;
  padding: 18px 40px 18px 40px;
  font-weight: 900;
  font-size: 18px;
  color: white;
  border-radius: 3px;
  background: var(--base_gradient, linear-gradient(107deg, #4BD8B5 -14.32%, #49D6DF 100.68%));
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}
