.about {
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center;
}

.about__container {
  margin: 0 auto;
  max-width: 1700px;
}

.about__title {
  font-size: 89px;
  font-weight: 900;
  color: white;
  max-width: 1200px;
  padding: 100px 0 0 300px;
}

.about__button {
  min-width: 237px;
  margin-left: 300px;
  padding: 18px 40px 18px 40px;
  font-weight: 900;
  font-size: 18px;
  color: white;
  display: flex;
  border-radius: 3px;
  background: var(--base_gradient, linear-gradient(107deg, #4BD8B5 -14.32%, #49D6DF 100.68%));
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.about__button-swiper {
  display: flex;
}

.swiper-pagination {
  color: white;
}

.swiper {
  left: 270px;
  width: 600px;
  height: 300px;
}

.about__social {
  padding-bottom: 100px;
}