@media screen and (max-width: 3000px) {

  .button-footer-wrapper-bottom {
    display: none;
  }

  .button-footer-wrapper-midle {
    display: none;
  }

  .button-footer-wrapper-top900 {
    display: none;
  }

}

@media screen and (max-width: 1200px) {

  .circles__container {
    display: block;
  }


  .button-footer-wrapper-top {
    display: none;
  }

  .button-footer-wrapper-midle {
    display: flex;
    justify-content: center;
  }

  .right__footer {
    padding-right: 85px;
  }

  .about__button-swiper {
    flex-direction: column;
  }

  .swiper {
    margin-top: 20px;
    left: 50px;
  }

}

@media screen and (max-width: 900px) {
  
  .footer-list-items {
    padding-bottom: 10px;
  }

  .header__list-item-footer {
    font-size: 25px;
  }

  .btn-footer {
    padding-bottom: 50px;
  }

  .button-footer-wrapper-top900 {
    display: flex;
    padding-top: 15px;
  }

  .footer-nav9 {
    display: flex;
    justify-content: space-between;
  }

  .header__list-items-footer {
    flex-direction: column;
    padding: 0;
  }

  .footer-navigation {
    flex-direction: column;
  }

  .button-footer-wrapper-midle {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .midle__footer {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .button-footer-wrapper-bottom {
    display: flex;
    justify-content: center;
  }

  .button-footer-wrapper-top900 {
    display: none;
  }
  
}

@media screen and (max-width: 320px) {

  .button-footer-wrapper-bottom {
    display: flex;
    justify-content: center;
  }

}