.footer {
  background: #333;
  color: #fefefe;
}

.footer__container {
  margin: auto;
  max-width: 1600px;
  padding: 100px 10px;
  
}

.footer-logo {

}

.footer-logo-top {
  font-weight: 900;
  font-size: 30px;
  color: #fefefe;
}

.footer-logo-bottom {
  font-size: 18px;
  letter-spacing: 1.44px;
  font-weight: 900;
  margin-top: -30px;
  color: #fefefe;
}

.footer__featback {
  display: flex;
  flex-direction: column;
}

.form__group {
  padding-bottom: 10px;
}

.form__row {
  padding-top: 20px;
  padding-bottom: 100px;
}

.footer-input {
  color: #fefefe;
  width: 383px;
  font-size: 15px;
  padding: 9px 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #E0E0E0;
  background-color: transparent;
}

.footer-input:focus + .label{
  transform: translateY(-15px);
  font-size: 12px;
} 

.footer-input:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}   

.label {
  letter-spacing: 0.15em;
  color: #4e4e4e;
  position: absolute;
  top: 10px;
  left: 20px;
  pointer-events: none;
  transition: all .2s ;
}

.textarea{
  min-height: 130px;
  color: #fefefe;
  width: 383px;
  resize: vertical;
  font-size: 18px;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background-color: transparent;
}

.textarea::placeholder {
  position: absolute;
  top: -10px;
  z-index: 1;
}

.textarea:focus + .label{
  transform: translateY(-15px);
  font-size: 12px;
} 

.textarea:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
} 

.form-textarea {
  position: absolute;
  margin-top: -12px;
  margin-left: 10px;
  background: #333333;
  padding: 0 5px 0 5px;
  color: #616161;
  font-size: 14px;
  font-weight: 400;
}
