.footer {
  background: #333;
  color: #fefefe;
}

.footer__container {
  margin: auto;
  max-width: 1600px;
  padding: 100px 10px;
  
}

.footer-logo {

}

.footer-logo-top {
  font-weight: 900;
  font-size: 30px;
  color: #fefefe;
}

.footer-logo-bottom {
  font-size: 18px;
  letter-spacing: 1.44px;
  font-weight: 900;
  margin-top: -30px;
  color: #fefefe;
}

.footer__featback {
  display: flex;
  flex-direction: column;
}

.footer__featback input {
  width: 300px;
  background: none;
  color: #fefefe;
  border: none;
}

.form__group{
  margin-bottom: 30px;
  flex: 1;
  position: relative;
}

.input {
  width: 100%;
  font-size: 15px;
  padding: 9px 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: 0;
}

.input:focus + .label{
  transform: translateY(-15px);
  font-size: 12px;
} 

.input:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}   

.label {
  letter-spacing: 0.15em;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  left: 20px;
  pointer-events: none;
  transition: all .2s ;
}

.textarea {
  min-height: 130px;
  color: #FFFFFF;
  width: 100%;
  resize: vertical;
  font-family: inherit;
  font-size: 15px;
  padding: 9px 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.textarea:focus + .label{
  transform: translateY(-15px);
  font-size: 12px;
} 

.textarea:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}
