.animals-two-container {
  margin: auto;
  max-width: 1000px;
}

.swiper-mavpa {
  height: 500px;
}

.animals-two-container {
  max-height: 300px;
}

/* <swiper-slide>
        <img src="/items/images/about-aligator.jpg" alt="reindeer" style="border-radius: 7px;">
      </swiper-slide>

      <swiper-slide>
        <img src="/items/images/about-eagle.jpg" alt="panda" style="border-radius: 7px;">
      </swiper-slide>

      <swiper-slide>
        <img src="/items/images/about-elephant.jpg" alt="monkey" style="border-radius: 7px;">
      </swiper-slide>

      <swiper-slide>
        <img src="/items/images/about-gorila.jpg" alt="monkey-brad" style="border-radius: 7px;">
      </swiper-slide>

      <swiper-slide>
        <img src="/items/images/about-fox.jpg" alt="monkey-brad" style="border-radius: 7px;">
      </swiper-slide>

      <swiper-slide>
        <img src="/items/images/about-leopard.jpg" alt="monkey-brad" style="border-radius: 7px;">
      </swiper-slide>

      <swiper-slide>
        <img src="/items/images/about-sloth.jpg" alt="monkey-brad" style="border-radius: 7px;">
      </swiper-slide>

      <swiper-slide>
        <img src="/items/images/about-gorila.jpg" alt="monkey-brad" style="border-radius: 7px;">
      </swiper-slide> */