@import url(./header.css);
@import url(./map-page-night.css);
@import url(./footer.css);
@import url(./adaptiv.css);

html {
  box-sizing: border-box;
  background: #ffffff;
}

body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}
